Repository openhab/openhab-webui, pull requests merged in 2022-06, with the labels that each got.

#1379 Support formatting labels in charts in Basic UI
  bundles/org.openhab.ui.basic/src/main/java/org/openhab/ui/basic/internal/render/ChartRenderer.java
Labels: enhancement, basic ui

#1386 Adds WebRTC support to video widget
  bundles/org.openhab.ui/web/src/assets/definitions/widgets/system/video.js
  bundles/org.openhab.ui/web/src/components/widgets/system/oh-video-webrtc.vue
  bundles/org.openhab.ui/web/src/components/widgets/system/oh-video.vue
Labels: enhancement

#1433 [habpanel] Remove ES6 syntax in dummy widget
  bundles/org.openhab.ui.habpanel/web/app/widgets/dummy/dummy.widget.js
Labels: bug, habpanel ui
