Repository openhab/openhab-webui, changes with the owners that CODEOWNERS names for each.
All owners: @openhab/webui-maintainers, @ghys, @florian-h05, @kaikreuzer, @lolodomo, @peuter

CODEOWNERS:

# This file helps Github doing automatic review requests for new PRs.
# It should always list the active maintainers of certain add-ons.

# As a fallback, if no specific maintainer is listed below, assign the PR to the repo maintainers team:
*       @openhab/webui-maintainers

# Add-on maintainers:
/bundles/org.openhab.ui/ @ghys @florian-h05
/bundles/org.openhab.ui.iconset.classic/ @kaikreuzer
/bundles/org.openhab.ui.basic/ @kaikreuzer @lolodomo
/bundles/org.openhab.ui.cometvisu/ @peuter
/bundles/org.openhab.ui.habot/ @ghys
/bundles/org.openhab.ui.habpanel/ @ghys

[BasicUI] Fix setting content type of returned page
  bundles/org.openhab.ui.basic/src/main/java/org/openhab/ui/basic/internal/servlet/WebAppServlet.java
Owners: @kaikreuzer, @lolodomo

Reviw comment: same for manifest page
  bundles/org.openhab.ui.basic/src/main/java/org/openhab/ui/basic/internal/servlet/ManifestServlet.java
Owners: @kaikreuzer, @lolodomo

[blockly] Make HTTP block method name dropdown labels less technical (#2740)
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/blocks-http.js
Owners: @ghys, @florian-h05

Add stale action GHA workflow
  .github/workflows/stale-issues.yml
Owners: @openhab/webui-maintainers

Add stale action GHA workflow (#2747)
  .github/workflows/stale-issues.yml
Owners: @openhab/webui-maintainers

Home edit: Fix model tab settings not editable
  bundles/org.openhab.ui/web/src/pages/settings/pages/home/home-edit.vue
Owners: @ghys, @florian-h05

Home edit: Fix model tab settings not editable (#2751)
  bundles/org.openhab.ui/web/src/pages/settings/pages/home/home-edit.vue
Owners: @ghys, @florian-h05

State description metadata: Allow to select transformations from list
  bundles/org.openhab.ui/web/src/components/item/metadata/item-metadata-itemdescription.vue
Owners: @ghys, @florian-h05

Update hint in transformation-edit.vue
  bundles/org.openhab.ui/web/src/pages/settings/transformations/transformation-edit.vue
Owners: @ghys, @florian-h05

Home edit: Fix model tab settings not editable (#2751)
  bundles/org.openhab.ui/web/src/pages/settings/pages/home/home-edit.vue
Owners: @ghys, @florian-h05

Developer sidebar: Display cannot run toast when trying to run unitialized rule
  bundles/org.openhab.ui/web/src/components/developer/developer-sidebar.vue
Owners: @ghys, @florian-h05

Developer sidebar: Show error when trying to run unititialized rule (#2753)
  bundles/org.openhab.ui/web/src/components/developer/developer-sidebar.vue
Owners: @ghys, @florian-h05

Rules/Scenes/Scripts: Gray out run now button if uninitialized
  bundles/org.openhab.ui/web/src/components/developer/developer-sidebar.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/rule-edit.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/scene/scene-edit.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/script/script-edit.vue
Owners: @ghys, @florian-h05

Rules/Scenes/Scripts: Gray out run now button if uninitialized (#2754)
  bundles/org.openhab.ui/web/src/components/developer/developer-sidebar.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/rule-edit.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/scene/scene-edit.vue
  bundles/org.openhab.ui/web/src/pages/settings/rules/script/script-edit.vue
Owners: @ghys, @florian-h05

Simplify transformationOptions code
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/blocks-scripts.js
Owners: @ghys, @florian-h05

[blockly] Small improvements to blocks (#2742)
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/blocks-persistence.js
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/blocks-scripts.js
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/blocks-timers.js
  bundles/org.openhab.ui/web/src/assets/definitions/blockly/index.js
  bundles/org.openhab.ui/web/src/components/config/controls/blockly-editor.vue
Owners: @ghys, @florian-h05

remove interactive condition pattern check
  bundles/org.openhab.ui/web/src/assets/sitemap-lexer.nearley
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/attribute-details.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05

validation improvements
  bundles/org.openhab.ui/web/src/components/config/controls/persistence-picker.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/attribute-details.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/__tests__/sitemap-edit_jest.spec.js
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05

Sitemap Editor: improve validation Signed-off-by: Mark Herwege <mark.herwege@telenet.be>
  bundles/org.openhab.ui/web/package-lock.json
  bundles/org.openhab.ui/web/package.json
Owners: @ghys, @florian-h05

fix
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05

fix
  bundles/org.openhab.ui/web/src/assets/sitemap-lexer.nearley
Owners: @ghys, @florian-h05

fix tests
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/__tests__/sitemap-code_jest.spec.js
Owners: @ghys, @florian-h05

Revert "Sitemap Editor: improve validation"
  bundles/org.openhab.ui/web/package-lock.json
  bundles/org.openhab.ui/web/package.json
Owners: @ghys, @florian-h05

linter fixes
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05

cleanup widget detail section lines
  bundles/org.openhab.ui/web/src/components/config/controls/persistence-picker.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05

Show transformation label
  bundles/org.openhab.ui/web/src/components/item/metadata/item-metadata-itemdescription.vue
Owners: @ghys, @florian-h05

Update bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
Owners: @ghys, @florian-h05

State description metadata: Allow to select transformations from list (#2752)
  bundles/org.openhab.ui/web/src/components/item/metadata/item-metadata-itemdescription.vue
  bundles/org.openhab.ui/web/src/pages/settings/transformations/transformation-edit.vue
Owners: @ghys, @florian-h05

Sitemap editor: Validation improvements (#2720)
  bundles/org.openhab.ui/web/src/assets/sitemap-lexer.nearley
  bundles/org.openhab.ui/web/src/components/config/controls/persistence-picker.vue
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/__tests__/sitemap-code_jest.spec.js
  bundles/org.openhab.ui/web/src/components/pagedesigner/sitemap/widget-details.vue
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/__tests__/sitemap-edit_jest.spec.js
  bundles/org.openhab.ui/web/src/pages/settings/pages/sitemap/sitemap-edit.vue
Owners: @ghys, @florian-h05
